body {
  padding: 32px;
}

h1 {
  font-weight: bold;
  font-size: 24px;
}

h2 {
  font-weight: bold;
  margin: 12px 0;
}

hr {
  margin: 24px 0;
  border: none;
  border-top: 1px dashed darkgray;
}

.mono {
  font-family: monospace;
  margin-bottom: 6px;
  margin-top: 18px;
}

.light {
  color: #999;
}

#turnlines {
  display: grid;
  grid-auto-columns: minmax(200px, 300px);
  grid-auto-flow: column;
  grid-gap: 0;
  justify-content: start;
  overflow-x: scroll;
}
